body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdfdfd; /* Updated background color */
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

header h1 {
    margin: 0;
}

header p {
    margin: 5px 0;
}

nav {
    background-color: #555;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #666; /* Updated hover color */
    color: black;
}

.content {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hidden {
    display: none;
}

.featured-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product img {
    width: 500px;
    height: 300px;
    border-radius: 8px;
    transition: transform 0.3s;
}
.featured-products h3{
    font-size: 2rem;
    font-weight: bold;

}

.product:hover img {
    transform: scale(1.1);
}

.price {
    font-weight: bold;
    color: #007bff;
}

.discount {
    color: #dc3545;
}

.reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.review {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.author {
    font-style: italic;
    margin-top: 10px;
}

/* Responsive styles for smaller screens */
@media only screen and (max-width: 600px) {
    nav a {
        float: none;
        text-align: center;
        width: 100%;
    }

    .product {
        width: 100%;
    }

    .review {
        width: 100%;
    }
}
